resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
nodeAffinity: {}
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
pdb:
  enabled: true
  minAvailable: 1
configSecretName: alertmanager-config
tlsSecretName: alertmanager-tls
